<ng-container *ngIf="post" >
  <div class="post-container" >

    <div class="title-container">
      <p class="title">Detail Post: {{ post.id }}</p>
      <p class="last-comment" *ngIf="fullDate !== '' ">Last Comment: {{fullDate}}</p>
    </div>
    

    <div class="post">
      <h2 class="post-title">{{ post.title | titlecase }}</h2>
      <p class="post-text">
        {{ post.body | titlecase }}
      </p>
    </div>
    <div class="comments-container">
       <app-comments  [id]="id"></app-comments>
    </div>
   
  </div>
</ng-container>
