.post-container {
  width: 100%;
  padding: 25px;

  .title {
    margin: 0 0 50px 0;
  }

  .post {
    margin: 0 0 50px 0;
  }
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}
