<ng-container *ngIf="post" >
  <div class="post-container" >

    <div class="title-container">
      <p class="title">Detail Post: {{ post.id }}</p>
      <p class="last-comment" *ngIf="fullDate !== '' ">Last Comment: {{fullDate}}</p>
    </div>
    

    <div class="post">
      <h2 class="post-title">{{ post.title | titlecase }}</h2>
      <p class="post-text">
        {{ post.body | titlecase }}
      </p>
    </div>
    <div class="comments-container">
       <app-comments  [id]="id"></app-comments>
    </div>
   
    <div class="add-comments__container">
      <h4>Add your comment</h4>
      <form action="" class="add-comments__form">
        <input class="name-input" type="text" placeholder="Name" required>
        <input class="email-input" type="email" placeholder="Email" required>
        <textarea class="comment-input"  cols="30" rows="10" placeholder="Add your comment" required></textarea>
        <button>Add</button>
      </form>
    </div>

  </div>
</ng-container>
